<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @chat.room_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @chat.user_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @chat.message %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
